{% extends "base.html.twig" %}


{% block body %}
    <h1>
        Hello {{ title }} !
    </h1>
    <a href="{{ path("news_toggle_heart", { title: title }) }}" class="heart btn btn-secondary">
        <i class="far fa-heart" aria-hidden="true"></i>
    </a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("js/art.js") }}"></script>
{% endblock%}