{% extends "base.html.twig" %}


{% block body %}
    <h1>
        Hello {{ title }} !
    </h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("js/art.js") }}"></script>
{% endblock%}