{% extends "base.html.twig" %}

{% block body %}
    <h1>
        <i class="fas fa-home"></i>
        Home
    </h1>
    <a class="btn btn-primary" href="{{ path('news', { slug: "you-black-emperor" }
    ) }}">You</a>
{% endblock %}